name: Deploy to GitHub Pages

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install trunk
        run: cargo install --locked trunk

      - name: Install wasm-bindgen-cli
        run: cargo install --locked wasm-bindgen-cli

      - name: Build for WASM (no dynamic linking)
        run: trunk build --release --public-url /sudoku/ --no-default-features --features wasm
        working-directory: sudoku-bevy

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.TOKEN }}
          publish_dir: sudoku-bevy/dist
